@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #f5f9fd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(125, 112, 128);
  text-decoration: none;
}

.sideMenu a:hover {
  background-color: rgb(186, 163, 216);
  color: #fff;
}

#logo:hover {
  color: #000;
}

li {
  list-style-type:none;
}

button:focus {outline:0;}

/************************************************************************/
.schedule-item button {
  color: black;
  font-size: 8px;
  margin: 1px;
  padding: -1px;
  border-radius: 3px;
}
.icons{
  position: relative;
  float: right;
  margin-top: -11px;
}
button {
  position: absolute;
  all: unset;
  cursor: pointer;
}
.schedule-item button:hover {
  background-color: black;
  color: white;
  opacity: 90%;
}
.schedule {
  margin: 1rem .5rem;
  background-color: #fff;
  border-radius: .2rem;
  padding: .5rem;
  display: grid;
  width: auto;
  grid-gap: 0;
  overflow: hidden;
  border: 1px solid #dfe3e6;
  justify-self: center;
  /*   grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); */
  grid-template-columns: [time] 100px [sunday] minmax(auto, auto) [monday] minmax(auto, auto) [tuesday] minmax(auto, auto) [wednesday] minmax(auto, auto) [thursday]minmax(auto, auto) [friday] minmax(auto, auto) [saturday] minmax(auto, auto);
  grid-template-rows: [header] auto [s] 40px [sf] 40px [st] 40px [sff] 40px [e] 40px [ef] 40px [et] 40px [eff] 40px [n] 40px [nf] 40px [nt] 40px 
  [nff] 40px [t] 40px [tf] 40px [tt] 40px [tff] 40px [el] 40px [elf] 40px [elt] 40px [elff] 40px [tw] 40px [twf] 40px [twt] 40px [twff] 40px [th] 40px 
  [thf] 40px [tht] 40px [thff] 40px [ft] 40px [ftf] 40px [ftt] 40px [ftff] 40px
  [fit] 40px [fitf] 40px [fitt] 40px [fitff] 40px [sit] 40px [sitf] 40px [sitt] 40px [sitff] 40px [set] 40px [setf] 40px
  [sett] 40px [setff] 40px [ett] 40px [ettf] 40px [ettt] 40px [ettff] 40px
  [ntt] 40px [nttf] 40px [nttt] 40px [nttff] 40px [ttw] 40px [ttwf] 40px [ttwt] 40px [ttwff] 40px [to]40px [tof] 40px
  [tot] 40px [toff] 40px [tto] 40px [ttof] 40px [ttot] 40px [ttoff] 40px [tth] 40px;
}

.schedule_header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;
  border: 1px solid #dfe3e6;
  color: #17394d;
  text-align: center;
}

.schedule_time {
  position: relative;
  padding: 0.5rem 0.25rem;
  border: 1px solid #dfe3e6;
  color: #17394d;
  font-weight: bold;
  text-align: center;
}

.grid {
  border: 1px solid #dfe3e6;
}

.schedule-item {
  background-color: white;
  border-radius: .25rem;
  padding: .5rem;
  margin: .25em;
}

.bg-red {
  background: #eb5a46b8;
  color: #8e3224;
  border: 2px solid #b95344;
}

.bg-blue {
  background: #08b7d29e;
  color: #104a53;
  border: 2px solid #157786;
}

.bg-purple {
  background: #a251bfb8;
  color: #633673;
  border: 2px solid #a24cc1;
}

.bg-yellow {
  background: #f0d50794;
  color: #847927;
  border: 2px solid #e1c700;
}

.bg-green {
  background: #61bd4fa1;
  color: #3c882d;
  border: 2px solid #61bd4f;
}

.schedule-sunday {
  grid-column: sunday / span 1;
}

.schedule-monday {
  grid-column: monday / span 1;
}

.schedule-tuesday {
  grid-column: tuesday / span 1;
}

.schedule-wednesday {
  grid-column: wednesday / span 1;
}

.schedule-thursday {
  grid-column: thursday / span 1;
}

.schedule-friday {
  grid-column: friday / span 1;
}

.schedule-saturday {
  grid-column: saturday / span 1;
}

.schedule-row-from-sunday {
  grid-column: sunday / span 7;
}

/* .schedule-row-to-saturday { grid-column-end: saturday; } */
.time-from-s {
  grid-row-start: s;
}

.time-from-sf {
  grid-row-start: sf;
}

.time-from-st {
  grid-row-start: st;
}

.time-from-sff {
  grid-row-start: sff;
}

.time-from-e {
  grid-row-start: e;
}

.time-from-ef {
  grid-row-start: ef;
}

.time-from-et {
  grid-row-start: et;
}

.time-from-eff {
  grid-row-start: eff;
}

.time-from-n {
  grid-row-start: n;
}

.time-from-nf {
  grid-row-start: nf;
}

.time-from-nt {
  grid-row-start: nt;
}

.time-from-nff {
  grid-row-start: nff;
}
.time-from-t {
  grid-row-start: t;
}
.time-from-tf {
  grid-row-start: tf;
}
.time-from-tt {
  grid-row-start: tt;
}
.time-from-tff {
  grid-row-start: tff;
}
.time-from-el {
  grid-row-start: el;
}
.time-from-elf {
  grid-row-start: elf;
}
.time-from-elt {
  grid-row-start: elt;
}
.time-from-elff {
  grid-row-start: elff;
}
.time-from-tw {
  grid-row-start: tw;
}
.time-from-twf {
  grid-row-start: twf;
}
.time-from-twt {
  grid-row-start: twt;
}
.time-from-twff {
  grid-row-start: twff;
}
.time-from-th {
  grid-row-start: th;
}
.time-from-thf {
  grid-row-start: thf;
}
.time-from-tht {
  grid-row-start: tht;
}
.time-from-thff {
  grid-row-start: thff;
}
.time-from-ft {
  grid-row-start: ft;
}
.time-from-ftf {
  grid-row-start: ftf;
}
.time-from-ftt {
  grid-row-start: ftt;
}
.time-from-ftff {
  grid-row-start: ftff;
}
.time-from-fit {
  grid-row-start: fit;
}
.time-from-fitf {
  grid-row-start: fitf;
}
.time-from-fitt {
  grid-row-start: fitt;
}
.time-from-fitff {
  grid-row-start: fitff;
}
.time-from-sit {
  grid-row-start: sit;
}
.time-from-sitf {
  grid-row-start: sitf;
}
.time-from-sitt {
  grid-row-start: sitt;
}
.time-from-sitff {
  grid-row-start: sitff;
}
.time-from-set {
  grid-row-start: set;
}
.time-from-setf {
  grid-row-start: setf;
}
.time-from-sett {
  grid-row-start: sett;
}
.time-from-setff {
  grid-row-start: setff;
}
.time-from-ett {
  grid-row-start: ett;
}
.time-from-ettf {
  grid-row-start: ettf;
}
.time-from-ettt {
  grid-row-start: ettt;
}
.time-from-ettff {
  grid-row-start: ettff;
}
.time-from-ntt {
  grid-row-start: ntt;
}
.time-from-nttf {
  grid-row-start: nttf;
}
.time-from-nttt {
  grid-row-start: nttt;
}
.time-from-nttff {
  grid-row-start: nttff;
}
.time-from-ttw {
  grid-row-start: ttw;
}
.time-from-ttwf {
  grid-row-start: ttwf;
}
.time-from-ttwt {
  grid-row-start: ttwt;
}
.time-from-ttwff {
  grid-row-start: ttwff;
}
.time-from-to {
  grid-row-start: to;
}
.time-from-tof {
  grid-row-start: tof;
}
.time-from-tot {
  grid-row-start: tot;
}
.time-from-toff {
  grid-row-start: toff;
}
.time-from-tto {
  grid-row-start: tto;
}
.time-from-ttof {
  grid-row-start: ttof;
}
.time-from-ttot {
  grid-row-start: ttot;
}
.time-from-ttoff {
  grid-row-start: ttoff;
}
.time-from-tth {
  grid-row-start: tth;
}
/*  End */
.time-to-s {
  grid-row-end: s;
}

.time-to-sf {
  grid-row-end: sf;
}

.time-to-st {
  grid-row-end: st;
}

.time-to-sff {
  grid-row-end: sff;
}

.time-to-e {
  grid-row-end: e;
}

.time-to-ef {
  grid-row-end: ef;
}

.time-to-et {
  grid-row-end: et;
}

.time-to-eff {
  grid-row-end: eff;
}

.time-to-n {
  grid-row-end: n;
}

.time-to-nf {
  grid-row-end: nf;
}

.time-to-nt {
  grid-row-end: nt;
}

.time-to-nff {
  grid-row-end: nff;
}
.time-to-t {
  grid-row-end: t;
}
.time-to-tf {
  grid-row-end: tf;
}
.time-to-tt {
  grid-row-end: tt;
}
.time-to-tff {
  grid-row-end: tff;
}
.time-to-el {
  grid-row-end: el;
}
.time-to-elf {
  grid-row-end: elf;
}
.time-to-elt {
  grid-row-end: elt;
}
.time-to-elff {
  grid-row-end: elff;
}
.time-to-tw {
  grid-row-end: tw;
}
.time-to-twf {
  grid-row-end: twf;
}
.time-to-twt {
  grid-row-end: twt;
}
.time-to-twff {
  grid-row-end: twff;
}
.time-to-th {
  grid-row-end: th;
}
.time-to-thf {
  grid-row-end: thf;
}
.time-to-tht {
  grid-row-end: tht;
}
.time-to-thff {
  grid-row-end: twff;
}
.time-to-ft {
  grid-row-end: ft;
}
.time-to-ftf {
  grid-row-end: ftf;
}
.time-to-ftt {
  grid-row-end: ftt;
}
.time-to-ftff {
  grid-row-end: ftff;
}

.time-to-fit {
  grid-row-end: fit;
}
.time-to-fitf {
  grid-row-end: fitf;
}
.time-to-fitt {
  grid-row-end: fitt;
}
.time-to-fitff {
  grid-row-end: fitff;
}
.time-to-sit {
  grid-row-end: sit;
}
.time-to-sitf {
  grid-row-end: sitf;
}
.time-to-sitt {
  grid-row-end: sitt;
}
.time-to-sitff {
  grid-row-end: sitff;
}
.time-to-set {
  grid-row-end: set;
}
.time-to-setf {
  grid-row-end: setf;
}
.time-to-sett {
  grid-row-end: sett;
}
.time-to-setff {
  grid-row-end: setff;
}
.time-to-ett {
  grid-row-end: ett;
}
.time-to-ettf {
  grid-row-end: ettf;
}
.time-to-ettt {
  grid-row-end: ettt;
}
.time-to-ettff {
  grid-row-end: ettff;
}

.time-to-ntt {
  grid-row-end: ntt;
}
.time-to-nttf {
  grid-row-end: nttf;
}
.time-to-nttt {
  grid-row-end: nttt;
}
.time-to-nttff {
  grid-row-end: nttff;
}
.time-to-ttw {
  grid-row-end: ttw;
}
.time-to-ttwf {
  grid-row-end: ttwf;
}
.time-to-ttwt {
  grid-row-end: ttwt;
}
.time-to-ttwff {
  grid-row-end: ttwff;
}
.time-to-to {
  grid-row-end: to;
}
.time-to-tof {
  grid-row-end: tof;
}
.time-to-tot {
  grid-row-end: tot;
}
.time-to-toff {
  grid-row-end: toff;
}
.time-to-tto {
  grid-row-end: tto;
}
.time-to-ttof {
  grid-row-end: ttof;
}
.time-to-ttot {
  grid-row-end: ttot;
}
.time-to-ttoff {
  grid-row-end: ttoff;
}
.time-to-tth {
  grid-row-end: tth;
}
.ds {
  display: none;
}

@media (max-width: 800px) {
  .schedule {
      display: inline-grid;
      overflow: hidden;
      grid-template-columns: [time] 40px [sunday] minmax(auto, 125px) [monday] minmax(auto, 125px) [tuesday] minmax(auto, 125px) [wednesday] minmax(auto, 125px) [thursday]minmax(auto, 125px) [friday] minmax(auto, 125px) [saturday] minmax(auto, 125px);
      grid-template-rows: [header] 40px [s] 40px 59px [sf] 40px 59px [st] 40px 59px [sff] 40px 59px [e] 40px 59px [ef] 40px 59px [et] 40px 59px [eff] 40px 59px [n] 40px 59px [nf] 40px 59px [nt] 40px 59px [nff] 40px 59px;
  }

  .schedule_time {
      -ms-transform: rotate(-90deg) translate(-100px);
      -webkit-transform: rotate(-90deg) translate(-100px);
      transform: rotate(-90deg) translate(-100px);
      -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
      transform-origin: left top;
      width: 90px;
  }

  .dl {
      display: none;
  }

  .ds {
      display: block;
  }

  .grid-last {
      height: 98px;
  }
}